<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://unfoldingword.org">
        <img alt="unfoldingWord" src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}" />
      </a>
    </div>
    <div class="navbar-nav navbar-right">
      <a class="btn btn-warning navbar-btn" href="https://api.unfoldingword.org"><i class="fa fa-cogs"></i> Browse the API</a>
    </div>
  </div>
</nav>
<div class="parallax-window" data-parallax="scroll" data-image-src="{{ '/assets/img/coding_parallax.jpg' | prepend: site.baseurl }}">
  <div id="parallax-content-wrapper">
    <div id="parallax-content">
      <img src="{{ '/assets/img/vertical-logo-white.png' | prepend: site.baseurl }}" />
      <p>unrestricted biblical content in every language</p>
    </div>
  </div>
</div>