<nav class="hidden-print hidden-xs hidden-sm affix-top"  id="left-col">
  <ul class="nav nav-stacked" id="sidebar-nav">
    <li>
      <a href="#translation-keyboard-v1">Translation Keyboard (v1)</a>
      <ul>
        <li>
          <a href="#keyboard-layout-catalog">Keyboard Layout Catalog</a>
        </li>
        <li>
          <a href="#keyboard-layout-endpoint">Keyboard Layout Endpoint</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#translation-studio-v2">Translation Studio (v2)</a>
      <ul>
        <li>
          <a href="#audio">Audio</a>
        </li>
        <li>
          <a href="#images">Images</a>
        </li>
        <li>
          <a href="#languages-catalog">Languages Catalog</a>
        </li>
        <li>
          <a href="#projects-catalog">Projects Catalog</a>
        </li>
        <li>
          <a href="#resources-catalog">Resources Catalog</a>
        </li>
        <li>
          <a href="#source-catalog">Source Catalog</a>
        </li>
        <li>
          <a href="#target-languages-catalog">Target Languages Catalog</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#unfolding-word-api-v2">Unfolding Word API (v2)</a>
      <ul>
        <li>
          <a href="#catalog">Catalog</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#unfolding-word-api-v1">Unfolding Word API (v1)</a>
      <ul>
        <li>
          <a href="#app-catalog">App Catalog</a>
        </li>
        <li>
          <a href="#json-text">JSON Text</a>
        </li>
        <li>
          <a href="#obs-audio">OBS Audio</a>
        </li>
        <li>
          <a href="#obs-images">OBS Images</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>